language: python

# Setting sudo to false opts in to Travis-CI container-based builds.
sudo: false

# The apt packages below are needed for sphinx builds
addons:
    apt:
        packages:
            - graphviz
            - texlive-latex-extra
            - dvipng

python:
    - 2.7
    - 3.4
    - 3.5

env:
    global:
        # The following versions are the 'default' for tests, unless
        # overidden underneath. They are defined here in order to save having
        # to repeat them for all configurations.

        # Note that we DO NOT use stable for numpy as there are no mpl 1.4.x
        # builds available on conda for numpy 1.11
        - NUMPY_VERSION=1.10
        - ASTROPY_VERSION=stable
        - MATPLOTLIB_VERSION=1.5
        - CONDA_DEPENDENCIES='nose pyqt matplotlib pillow pyregion'
        - CONDA_CHANNELS='astropy-ci-extras astropy'
        - PIP_DEPENDENCIES='pytest-mpl'

    matrix:
        - SETUP_CMD='egg_info'
        - SETUP_CMD='test --remote-data'

matrix:
    include:

        # Check for sphinx doc build warnings - we do this first because it
        # may run for a long time
        - python: 2.7
          env: SETUP_CMD='build_sphinx -w'

        # Try Astropy development and LTS version and also a coverage test
        - python: 2.7
          env: ASTROPY_VERSION=development SETUP_CMD='test --coverage'
        - python: 3.5
          env: ASTROPY_VERSION=development SETUP_CMD='test --remote-data'
        - python: 2.7
          env: ASTROPY_VERSION=lts SETUP_CMD='test --remote-data'
        - python: 3.5
          env: ASTROPY_VERSION=lts SETUP_CMD='test --remote-data'

        # Try older numpy versions
        - python: 2.7
          env: NUMPY_VERSION=1.9 MATPLOTLIB_VERSION=1.4 SETUP_CMD='test --remote-data'
        - python: 2.7
          env: NUMPY_VERSION=1.8 MATPLOTLIB_VERSION=1.4 SETUP_CMD='test --remote-data'
               CONDA_DEPENDENCIES='nose pyqt=4 matplotlib pillow'
        - python: 2.7
          env: NUMPY_VERSION=1.7 MATPLOTLIB_VERSION=1.4 SETUP_CMD='test --remote-data'
               CONDA_DEPENDENCIES='nose pyqt=4 matplotlib pillow'

before_install:

    # Make sure that interactive matplotlib backends work
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start

    # Make sure matplotlib uses PyQT not PySide
    - export QT_API=pyqt

install:
    - git clone git://github.com/astropy/ci-helpers.git
    - source ci-helpers/travis/setup_conda.sh

script:
   - python setup.py $SETUP_CMD

after_success:
    # Uncomment line below if coveralls.io is set up for this package.
    - if [[ $SETUP_CMD == 'test --coverage' ]]; then coveralls; fi
